/*@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*/
@font-face {
    font-family: 'Nunito';
    font-style:normal;
    font-weight: 100;
    src: url('../../fonts/Nunito/Nunito-Regular.woff2') format('woff');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Nunito/Nunito-SemiBold.woff2') format('woff');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Nunito/Nunito-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('../../fonts/Nunito/Nunito-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/Nunito/Nunito-ExtraBold.woff') format('woff');
}


:root {
    --utl-dark-blue: #005f87;
    --utl-common-green: #08a321;
    --utl-light-blue: #F5F8FD;
}

html {
  font-size: 14px;
}

body * {
    font-family: 'Nunito';
}

body {
    font-family: 'Nunito';
    font-style: normal;
    color: inherit !important;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    /*border-radius: 8px;*/
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 8px;*/
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #08a321;
}

.custom-table div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-table div::-webkit-scrollbar-track {
    /*border-radius: 8px;*/
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}
.custom-table div::-webkit-scrollbar-thumb {
    /*border-radius: 8px;*/
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: #08a321;
}

.row > *{

}

@media (max-width: 991.98px) {
    .navbar-collapse ul.nav {
        box-shadow: rgba(0, 0, 0, 0.24) 0px -1px 8px;
        background-color: #08a321;
        position: relative;
        top: 12px;
    }
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.form-control {
    height: calc(1.5em + 0.75rem + 1px);
}

.form-control, .form-select {
    border-radius: 0px;
}
    .form-control:focus,
    .form-select:focus {
/*        outline: 1px solid #198754;*/
        box-shadow: none !important;
        border: 1px solid #198754;
    }

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    outline: 1px solid #198754;
    box-shadow: none !important;
    border-color:inherit !important;
}*/

.input-group .input-group-text {
    border-radius: 0px !important;
}


    html {
        position: relative;
        min-height: 100%;
    }

body {
  /*margin-bottom: 60px;*/
}

.navbar {
    /*background: #08a321;*/
    padding: 0.5rem !important;
    justify-content: space-between !important;
    left: inherit;
    height: 60px;
    background: linear-gradient(90deg, #004d20 -100%, #006b2b 0%, #008334 100%);
}

.navbar-expand .navbar-nav .nav-link {
    color: #047716 !important;
}

#content {
    left: 300px;
    position: relative;
}

#sidebarCollapse {
    color: #ffffff !important;
    font-size: 20px;
    padding: 12px 14px;
    border-radius: 3px;
    cursor: pointer;
}


.navbar-expand .navbar-toggler {
    display: inherit;
    color: #047716 !important;
    font-size: 30px;
}

.navbar-expand {
    flex-flow: wrap;
}

.collapse:not(.show) {
    display: none !important;
}

.navbar-collapse {
    flex-basis: 100% !important;
    flex-grow: 1;
    align-items: center;
}

    .navbar-collapse .nav{
        padding:0px;
    }

@media screen and (min-width: 993px) {
    .navbar-collapse .dropdown-menu {
        margin-top: 9px !important;
    }
    .navbar-expand .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

@media (max-width: 992px), screen and (max-width: 768px) {
    .navbar-collapse .nav-item, .dropdown-menu li a {
        width: 100%;
        text-align: center;
    }
        .navbar-collapse .nav-item .nav-link:after {
            transform: none;
            position: unset;
            display: inline-block;
            top:unset;
            right:unset;
        }



}

@media (min-width: 992px) {
    .navbar{
        flex-wrap:wrap;
    }
    .navbar-collapse {
        flex-basis: auto !important;
    }
    .navbar-expand .navbar-toggler {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-expand {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

@media (max-width: 992px), screen and (max-width: 768px) {
    .navbar-collapse .dropdown-menu, .sidebar .dropdown-menu {
        position: static;
        width:100%;
    }
}
.navbar-collapse .nav .nav-item .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar-collapse .nav .nav-item .dropdown-menu {
    padding: 0px;
    border-radius: unset;
    min-width: auto;
    transition: all .5s ease;
}
.dropdown-item {
    min-width: auto;
    padding: 5px 20px;
    color: #fff;
    background-color: #f8b739;
}

.main-section {
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /* border: 1px solid rgb(128, 128, 128, 0.3);*/
    min-height: 500px;
    /*background-color: #fff;
    margin: 20px;*/
    margin-top: 70px;
    margin-bottom: 60px !important;
    height: calc(100% - 130px);
}

    .main-section .page-header {
        min-height: auto;
        display: block;
        text-align: left;
        padding: 10px;
        border-bottom: 2px solid var(--bs-gray);
        background-color: #f8b739;
        color: var(--bs-white);
        background-color: #66bb74;
    }

    .main-section .page-content{
        padding:10px;
    }

    .main-section .page-header .header-title {
        font-size: 16px;
        font-weight: 600;
        color: #191919;
    }

.page-content {
    display: flex;
    flex-direction: column;
}

    .page-content .page-title,
    .page-content .page-body {
        padding: 5px;
    }

    .image-box {
        height: 60px;
        background-color: #ffffff;
        display:block;
    }



.site-footer {
    background: #fff;
    padding: 0.5rem !important;
    min-height: 50px;

    position: absolute;
    bottom: 0px;
    width: 100%;
}
.btn {
    width: auto;
    border-radius: 0px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

    .btn:hover {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
    }

    .btn:active {
        background-color: #91d19b !important;
    }

.btn:focus {
    box-shadow: none !important;
}

.field-validation-error,
.validation-summary-errors {
    color: red !important;
    font-size: 14px;
}

.validation-summary-errors ul{
    margin:0px;
    padding:0px;
}
    .validation-summary-errors ul li {
        list-style-type: none;
        color: var(--bs-danger-text-emphasis) !important;
    }

.btn-custom {
    background-color: #08a321 !important;
    color: #ffffff;
}

    .btn-custom:hover {
        background-color: #047716 !important;
        color: #ffffff;
    }

.custom-table {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    font-size: 13px;
}

    .custom-table .dt-container .dt-scroll {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border: 1px solid #047716;
    }
    .custom-table .dt-container {
        /*background-color: #a9c6ae;*/
       /* border: 1px solid rgb(211 211 211 / 20%);*/
    }
    .custom-table .dt-container > .justify-content-between:first-child {
        margin-top: 0px !important;
        border-bottom: 1px solid rgb(211 211 211 / 20%);
    }

        .custom-table .dt-container > .justify-content-between:first-child,
        .custom-table .dt-container > .justify-content-between:first-child .dt-layout-start,
        .custom-table .dt-container > .justify-content-between:first-child .dt-layout-end {
            /*background-color: #a9c6ae;*/
        }

    .custom-table .dt-container > .justify-content-between:nth-of-type(3) {
        margin-top: 0px !important;
        border-top: 1px solid rgb(211 211 211 / 20%);
    }

    .custom-table .dt-container > .justify-content-between.dt-layout-table .dt-layout-full {
       /* background-color: #a9c6ae;*/
    }

        .custom-table .dt-container > .justify-content-between:nth-of-type(3),
        .custom-table .dt-container > .justify-content-between:nth-of-type(3) .dt-layout-start,
        .custom-table .dt-container > .justify-content-between:nth-of-type(3) .dt-layout-end {
            /*background-color: #a9c6ae;*/
        }

.custom-table .dt-container .justify-content-between .dt-layout-start label,
.custom-table .dt-container .justify-content-between .dt-layout-end label {
    margin-bottom:0px;
}

        .custom-table .dt-container .pagination li {
            margin: 0px 3px;
        }

        .custom-table .dt-container .pagination li.active .page-link {
            background-color: #08a321;
            border-color: #047716;
            color: #ffffff;
        }

        .custom-table .dt-container .pagination li .page-link {
            border-color: #047716;
            color: #047716;
            padding: 4px;
            min-width: 30px;
        }

    .custom-table .dt-container .pagination li .page-link.first {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .custom-table .dt-container .pagination li .page-link.last {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .custom-table .dt-container .pagination li.disabled{
        cursor:not-allowed;
    }
    .custom-table .dt-container .pagination li.disabled .page-link {
        background-color: #e2e2e2;
    }

    .custom-table .dt-container .dataTable {
        border: 1px solid #047716;
    }

        .custom-table .dt-container table thead th {
            border-bottom: 2px solid #047716;
            background-color: #e4f6e7;
            color: #047716;
            padding: 10px 8px;
        }

.custom-table .dt-container table th,
.custom-table .dt-container table td {
    /*border: 1px solid #047716;*/
}

        .custom-table .dt-container table td {
            padding: 10px 8px;
            vertical-align: middle;
            line-height: normal;
        }

/*    .custom-table .dt-container table tr:nth-child(odd) {
        background-color: #d7f3db;
    }
.custom-table .dt-container table tr:nth-child(even) {
    background-color: #f5fff7;
}*/
    .custom-table table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order {
        right: 6px;
    }


/* Floating Input*/
.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    padding: 7px;
}

.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    height: 45px;
    min-height: unset; 
    line-height: unset;
}

.form-floating > label {
    padding: 10px 5px;
    left: 8px;
    transition: all 0.2s;
    color: rgb(4, 119, 22, 1);
}

.form-floating > .form-control-plaintext ~ label, 
.form-floating > .form-control:focus ~ label, 
.form-floating > .form-control:not(:placeholder-shown) ~ label, 
.form-floating > .form-select ~ label{
    left:0px;
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 6px;
}
.form-floating > .form-select {
    padding-top: 14px;
    padding-bottom: 6px;
}

    .form-floating > .form-control-plaintext ~ label::after,
    .form-floating > .form-control:focus ~ label::after,
    .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
    .form-floating > .form-select ~ label::after {
        height: 1em;
    }

    .form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
        color: rgb(4, 119, 22, 0.6);
    }

.toast-container {
    --bs-toast-zindex: 1093;
    position: fixed;
    overflow: hidden;
    top:90px;
    margin-top:60px;
}

.toast .btn-close {
    margin-left: 10px !important;
    width: 10px;
    height: 10px;
    padding: 0px;
    position: relative;
    top: 0px;
    right: -5px;
}

.toast.text-bg-success {
    background-color: #258925 !important;
}

.toast.text-bg-danger {
    background-color: red !important;
}

.toast {
    max-width: 500px !important;
    width: auto !important;
    position: relative;
    right: -110%; /* Start position: off-screen to the right */
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    border-radius: 0px;
    transform: translateX(100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.toast-body {
    padding: 5px 10px;
}

.toast.show {
    right: 0 !important; /* End position: on screen (aligned to the right edge of its container) */
    opacity: 1;
    transform: translateX(0);
}
.toast.hide {
    display: none;
}



.btn-edit {
    color: #047716 !important;
}

.btn-edit:hover {
    color: #f8b739 !important;
}

.color-success {
    color: forestgreen !important;
}

.color-info {
    color: #17a2b8;
}

.color-danger {
    color: red !important;
}
.custom-link-btn:hover i {
    color: #f8b739;
}

.loader-value-circle {
    background: url("../../images/loaderIcon.gif") right 6px center no-repeat rgb(255, 255, 255)
}

/*.select2-container,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    outline: none;
}*/
.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}

    .select2-container:focus-visible,
    .select2-container--default .select2-selection--single:focus-visible {
        outline: 1px solid #198754 !important;
        border-color: inherit !important;
    }


.bg-purchase {
    background-color: #e6f8e6;
}

.bg-sales {
    background-color: #f6e8e8;
}

.bg-profit {
    background-color: #72f272;
}

.bg-loss {
    background-color: #ff5c5c;
}

.text-ellises {
    width: 250px;
    display: inline-grid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn.disabled {
    filter: opacity(0.7);
    border-color:transparent;
}

/* Model styles */

.modal .modal-dialog .modal-content,
.modal .modal-dialog .modal-content .modal-header {
    border-radius: 0px;
}

.modal .modal-dialog .modal-content .modal-header {
    background-color: #08a321;
}

    .modal .modal-dialog .modal-content .modal-header .modal-title {
        color: white;
        font-weight:bold;
    }

.custom-table table{
    width:100%
}

.custom-table table thead th {
    border-bottom: 2px solid #047716;
    background-color: #08a321;
    color: #ffffff;
    padding: 5px;
}


.tooltip {
    z-index: 1093;
}

.modal-dialog .btn-close {
    background-color: red;
    opacity: 1;
    border-radius: 0;
    opacity: 1;
    margin: 0px !important;
    --bs-btn-close-bg: none;
}

    .modal-dialog .btn-close:hover {
        opacity: 0.75;
    }

    .modal-dialog .btn-close .fa {
        color: #fff;
        vertical-align: super;
        padding-top: 7px;
    }

a.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.select2-dropdown {
    z-index: 1092 !important;
}

.select2-readonly + .select2-container .select2-selection {
    background-color: #e9ecef !important; /* Greys out the background */
    pointer-events: none; /* Blocks all mouse clicks and opens */
    cursor: not-allowed;
}


#notifications {
    color: #ffffff !important;
    font-size: 20px;
    padding: 12px 14px;
    border-radius: 3px;
    cursor: pointer;
}

.notification-ui a:after {
    display: none;
}

.notification-ui_icon {
    position: relative;
}

    .notification-ui_icon .unread-notification {
        display: inline-block;
        height: 7px;
        width: 7px;
        border-radius: 7px;
        background-color: #66BB6A;
        position: absolute;
        top: 7px;
        left: 12px;
    }

@media (min-width: 900px) {
    .notification-ui_icon .unread-notification {
        left: 20px;
    }
}

.notification-ui_dd {
    padding: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
    border: 0;
    max-width: 400px;
}

@media (min-width: 900px) {
    .notification-ui_dd {
        min-width: 400px;
        position: absolute;
        left: -132px;
        top: 65px;
        z-index: 1099;
    }
}

.notification-ui_dd:after {
    content: "";
    position: absolute;
    top: -28px;
    left: calc(50% - 7px);
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
}

.notification-ui_dd .notification-ui_dd-header {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    background-color: #f8b739;
}

    .notification-ui_dd .notification-ui_dd-header h3 {
        margin-bottom: 0;
    }

.notification-ui_dd .notification-ui_dd-content {
    max-height: 500px;
    overflow: auto;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #ddd;
    border: 1px solid lightgray;
    margin: 7px;
}

.notification-list--unread {
    position: relative;
}

    .notification-list--unread:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0px;
        height: calc(100% + 1px);
        border-left: 2px solid #29B6F6;
    }
.notification-list .notification-list_img {
    display: flex;
    padding: 0 10px 0 10px;
    align-items: center;
}
    .notification-list .notification-list_img i {
        color: green;
        font-size: 30px;
    }
    .notification-list .notification-list_img img {
        height: 48px;
        width: 48px;
        border-radius: 50px;
        margin-right: 20px;
    }
.notification-list .notification-list_detail {
    width: 100%;
    display: flex;
    align-items: center;
}

.notification-list .notification-list_detail p {
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 14px;
}
.notification-list .notification-list_feature-img {
    font-size: 20px;
    color: red;
    padding: 0px 10px 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
}

.container-block {
    padding: 10px;
    /*width: auto;*/
}

.section-block {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    height: 100%;
}

.body-title h1 {
    font-size: 20px;
    padding: 2px 0px;
    margin: 0px;
}

.column-flex {
    display: flex;
    justify-content: space-evenly;
}

.custom-link-btn-border {
    padding: 2px 4px;
    border-radius: 2px;
}

    .custom-link-btn-border.color-success {
        border: 2px solid forestgreen;
    }

    .custom-link-btn-border.color-danger {
        border: 2px solid red;
    }


.btn-success {
    background-color: forestgreen;
    color: white !important;
}
    .btn-success:hover {
        background-color: forestgreen !important;
        color: #f8b739 !important;
    }

.btn-danger {
    background-color: red;
    color: white !important;
}
    .btn-danger:hover {
        background-color: red !important;
        color: #f8b739 !important;
    }

.custom-btn-sm {
    padding: 3px 2px;
    font-size: 13px;
    line-height: 1.2;
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
}

.custom-btn-sm i.fas{
    margin:0 3px;
}
.custom-btn-sm span{
    padding: 0px 2px;
    line-height: 1.2;
}

/* From Uiverse.io by Xtenso */
.filter-switch {
    border: 2px solid #08a321;
    border-radius: 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    overflow: hidden;
}

    .filter-switch input {
        display: none;
    }

    .filter-switch label {
        flex: 1;
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all 0.5s;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0px;
    }

    .filter-switch .background {
        position: absolute;
        width: calc(50% - 2px);
        height: 32px;
        background-color: #ffc000;
        top: 2px;
        left: 2px;
        border-radius: 0px;
        transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

.option2:checked ~ .background {
    left: 50%;
}

.option1:checked + label.option1 {
    color: #212121;
    font-weight: bold;
}

.option2:checked + label.option2 {
    color: #212121;
    font-weight: bold;
}

.option1:not(:checked) + label.option1,
.option2:not(:checked) + label.option2] {
    color: #7d7d7d;
}

.input-group {
    border: 1px solid #ced4da;
}
.input-group input.form-control{
    border:none;
}
.input-group input.form-control + button {
    border: none;
    background-color: inherit;
    padding: 0 10px;
}
    .input-group input.form-control:focus{
        border:none;
    }
        .input-group input.form-control:focus + button {
            border-top: none;
            border-right: none;
            border-bottom: none;
        }
        .input-group:has(input.form-control:focus) {
            border: 1px solid #198754;
        }

.service_box {
    border: 1px solid lightgray;
    padding: 5px;
}
    .service_box .box {
        display: flex;
        align-items: center;
        height: 38px;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }
        .service_box .box:last-child {
            border-bottom: 1px solid lightgray;
        }
        .service_box .box .row-number {
            padding: 5px;
            width: 40px;
            text-align: center;
            /*border: 1px solid lightgray;*/
        }

    .service_box .btn-Add {
        width: 35px;
        height: 35px;
        border: 1px solid lightgray;
        color: green;
    }

    .service_box .box .remove {
        /*width: 40px;*/
        border: 1px solid lightgray;
        margin: 5px;
    }

.min-width-column {
    min-width: 80px !important; /* Use !important to override DataTables' inline styles */
}

.badge {
    width: fit-content;
    padding: 4px 6px;
    border-radius: 4px;
    margin: auto;
    font-weight: 600;
    line-height: 14px;
    font-size: 13px;
}
.badge-success {
    background-color: #00ca4b !important;
    color: #ffffff !important;
}

.badge-warning {
    background-color: #fcaa1e !important;
    color: #ffffff !important;
}

.badge-error {
    background-color: #fb4141 !important;
    color: #ffffff !important;
}

.badge-info {
    background-color: #1c398e !important;
    color: #ffffff !important;
}

.badge-soft.badge-success {
    background-color: #edfaee !important;
    color: #00ca4b !important;
}

.badge-soft.badge-warning {
    background-color: #fff7ed !important;
    color: #fcaa1e !important;
}

.badge-soft.badge-error {
    background-color: #ffeeec !important;
    color: #fb4141 !important;
}

.badge-soft.badge-info {
    background-color: #eff6ff !important;
    color: #1c398e !important;
}

.badge-outline.badge-success {
    border: 1px solid #00ca4b;
    color: #00ca4b !important;
    background-color: #edfaee !important;
}

.badge-outline.badge-warning {
    border: 1px solid #fcaa1e;
    color: #fcaa1e !important;
    background-color: #fff7ed !important;
}

.badge-outline.badge-error {
    border: 1px solid #fb4141;
    color: #fb4141 !important;
    background-color: #ffeeec !important;
}

.badge-outline.badge-info {
    border: 1px solid #1c398e;
    color: #1c398e !important;
    background-color: #eff6ff !important;
}