/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.AssemblyInfo.cs
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.AssemblyInfoInputs.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.assets.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.csproj.AssemblyReference.cache
*.cache
*.vsidx
/.vs/GizmosbuyWeb/v17/.suo
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.AssemblyInfo.cs
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.AssemblyInfoInputs.cache
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.assets.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.AssemblyInfo.cs
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.AssemblyInfoInputs.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.assets.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.AssemblyInfo.cs
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.AssemblyInfoInputs.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.assets.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.csproj.AssemblyReference.cache
/.vs/ProjectEvaluation/gizmosbuyweb.metadata.v9.bin
/.vs/ProjectEvaluation/gizmosbuyweb.projects.v9.bin
/.vs/ProjectEvaluation/gizmosbuyweb.strings.v9.bin
/.vs/GizmosbuyWeb/DesignTimeBuild/.dtbcache.v2
/.vs/GizmosbuyWeb/v17/.futdcache.v2
*.bin
/.vs/GizmosbuyWeb/v17/HierarchyCache.v1.txt
/.vs/GizmosbuyWeb/v17/DocumentLayout.json
/.vs/GizmosbuyWeb/v17/DocumentLayout.backup.json
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.BAL.pdb
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.Core.dll
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.Core.pdb
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.DAL.dll
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.DAL.pdb
/Gizmosbuy.BAL/obj/Debug/net8.0/ref/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/obj/Debug/net8.0/refint/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.csproj.CoreCompileInputs.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.csproj.FileListAbsolute.txt
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.GeneratedMSBuildEditorConfig.editorconfig
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.pdb
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.sourcelink.json
/Gizmosbuy.BAL/obj/Gizmosbuy.BAL.csproj.nuget.dgspec.json
/Gizmosbuy.BAL/obj/project.assets.json
/Gizmosbuy.Core/bin/Debug/net8.0/Gizmosbuy.Core.dll
/Gizmosbuy.Core/bin/Debug/net8.0/Gizmosbuy.Core.pdb
/Gizmosbuy.Core/obj/Debug/net8.0/ref/Gizmosbuy.Core.dll
/Gizmosbuy.Core/obj/Debug/net8.0/refint/Gizmosbuy.Core.dll
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.csproj.CoreCompileInputs.cache
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.csproj.FileListAbsolute.txt
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.dll
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.GeneratedMSBuildEditorConfig.editorconfig
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.pdb
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.sourcelink.json
/Gizmosbuy.Core/obj/Gizmosbuy.Core.csproj.nuget.dgspec.json
/Gizmosbuy.Core/obj/project.assets.json
/Gizmosbuy.DAL/bin/Debug/net8.0/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/bin/Debug/net8.0/Gizmosbuy.DAL.pdb
/Gizmosbuy.DAL/obj/Debug/net8.0/ref/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/obj/Debug/net8.0/refint/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.csproj.CoreCompileInputs.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.csproj.FileListAbsolute.txt
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.GeneratedMSBuildEditorConfig.editorconfig
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.pdb
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.sourcelink.json
/Gizmosbuy.DAL/obj/Gizmosbuy.DAL.csproj.nuget.dgspec.json
/Gizmosbuy.DAL/obj/project.assets.json
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.BAL.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.BAL.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Core.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Core.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.DAL.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.DAL.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.exe
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.staticwebassets.endpoints.json
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.staticwebassets.runtime.json
/GizmosbuyWeb/obj/Debug/net8.0/ref/Gizmosbuy.Web.dll
/GizmosbuyWeb/obj/Debug/net8.0/refint/Gizmosbuy.Web.dll
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets/msbuild.Gizmosbuy.Web.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets/msbuild.Gizmosbuy.Web.Microsoft.AspNetCore.StaticWebAssets.props
/GizmosbuyWeb/obj/Debug/net8.0/apphost.exe
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.csproj.CoreCompileInputs.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.csproj.FileListAbsolute.txt
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.dll
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.GeneratedMSBuildEditorConfig.editorconfig
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.genruntimeconfig.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.pdb
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.sourcelink.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.build.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.development.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.pack.json
/GizmosbuyWeb/obj/Gizmosbuy.Web.csproj.nuget.dgspec.json
/GizmosbuyWeb/obj/project.assets.json
/.vs/GizmosbuyWeb/config/applicationhost.config



.bin
.dll
.pdb
.cache
.props
.v2
.editorconfig