/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.AssemblyInfo.cs
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.AssemblyInfoInputs.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.assets.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.csproj.AssemblyReference.cache
*.cache
*.vsidx
/.vs/GizmosbuyWeb/v17/.suo
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.AssemblyInfo.cs
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.AssemblyInfoInputs.cache
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.assets.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.AssemblyInfo.cs
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.AssemblyInfoInputs.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.assets.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.AssemblyInfo.cs
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.AssemblyInfoInputs.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.assets.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.csproj.AssemblyReference.cache
/.vs/ProjectEvaluation/gizmosbuyweb.metadata.v9.bin
/.vs/ProjectEvaluation/gizmosbuyweb.projects.v9.bin
/.vs/ProjectEvaluation/gizmosbuyweb.strings.v9.bin
/.vs/GizmosbuyWeb/DesignTimeBuild/.dtbcache.v2
/.vs/GizmosbuyWeb/v17/.futdcache.v2
*.bin
/.vs/GizmosbuyWeb/v17/HierarchyCache.v1.txt
/.vs/GizmosbuyWeb/v17/DocumentLayout.json
/.vs/GizmosbuyWeb/v17/DocumentLayout.backup.json
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.BAL.pdb
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.Core.dll
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.Core.pdb
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.DAL.dll
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.DAL.pdb
/Gizmosbuy.BAL/obj/Debug/net8.0/ref/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/obj/Debug/net8.0/refint/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.csproj.CoreCompileInputs.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.csproj.FileListAbsolute.txt
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.dll
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.GeneratedMSBuildEditorConfig.editorconfig
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.pdb
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.sourcelink.json
/Gizmosbuy.BAL/obj/Gizmosbuy.BAL.csproj.nuget.dgspec.json
/Gizmosbuy.BAL/obj/project.assets.json
/Gizmosbuy.Core/bin/Debug/net8.0/Gizmosbuy.Core.dll
/Gizmosbuy.Core/bin/Debug/net8.0/Gizmosbuy.Core.pdb
/Gizmosbuy.Core/obj/Debug/net8.0/ref/Gizmosbuy.Core.dll
/Gizmosbuy.Core/obj/Debug/net8.0/refint/Gizmosbuy.Core.dll
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.csproj.CoreCompileInputs.cache
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.csproj.FileListAbsolute.txt
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.dll
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.GeneratedMSBuildEditorConfig.editorconfig
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.pdb
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.sourcelink.json
/Gizmosbuy.Core/obj/Gizmosbuy.Core.csproj.nuget.dgspec.json
/Gizmosbuy.Core/obj/project.assets.json
/Gizmosbuy.DAL/bin/Debug/net8.0/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/bin/Debug/net8.0/Gizmosbuy.DAL.pdb
/Gizmosbuy.DAL/obj/Debug/net8.0/ref/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/obj/Debug/net8.0/refint/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.csproj.CoreCompileInputs.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.csproj.FileListAbsolute.txt
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.dll
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.GeneratedMSBuildEditorConfig.editorconfig
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.pdb
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.sourcelink.json
/Gizmosbuy.DAL/obj/Gizmosbuy.DAL.csproj.nuget.dgspec.json
/Gizmosbuy.DAL/obj/project.assets.json
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.BAL.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.BAL.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Core.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Core.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.DAL.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.DAL.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.dll
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.exe
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.pdb
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.staticwebassets.endpoints.json
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.staticwebassets.runtime.json
/GizmosbuyWeb/obj/Debug/net8.0/ref/Gizmosbuy.Web.dll
/GizmosbuyWeb/obj/Debug/net8.0/refint/Gizmosbuy.Web.dll
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets/msbuild.Gizmosbuy.Web.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets/msbuild.Gizmosbuy.Web.Microsoft.AspNetCore.StaticWebAssets.props
/GizmosbuyWeb/obj/Debug/net8.0/apphost.exe
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.csproj.CoreCompileInputs.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.csproj.FileListAbsolute.txt
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.dll
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.GeneratedMSBuildEditorConfig.editorconfig
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.genruntimeconfig.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.pdb
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.sourcelink.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.build.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.development.json
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.pack.json
/GizmosbuyWeb/obj/Gizmosbuy.Web.csproj.nuget.dgspec.json
/GizmosbuyWeb/obj/project.assets.json
/.vs/GizmosbuyWeb/config/applicationhost.config
/GizmosbuyWeb/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/GizmosbuyWeb/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/GizmosbuyWeb/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll


.bin
.dll
.pdb
.cache
.props
.v2
.editorconfig
*.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/GizmosbuyWeb/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/GizmosbuyWeb/bin/Debug/net8.0/System.CodeDom.dll
/GizmosbuyWeb/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/GizmosbuyWeb/bin/Debug/net8.0/System.Drawing.Common.dll
/GizmosbuyWeb/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/GizmosbuyWeb/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/GizmosbuyWeb/bin/Debug/net8.0/af/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ar/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/az/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/bg/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/bn-BD/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/da/Humanizer.resources.dll
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.csproj.AssemblyReference.cache
/Gizmosbuy.DAL/bin/Debug/net8.0/Gizmosbuy.DAL.deps.json
/Gizmosbuy.BAL/bin/Debug/net8.0/Gizmosbuy.BAL.deps.json
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbu.C8EC6729.Up2Date
/GizmosbuyWeb/bin/Debug/net8.0/el/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/fa/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/fi-FI/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/pt/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ro/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/GizmosbuyWeb/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/GizmosbuyWeb/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/GizmosbuyWeb/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/GizmosbuyWeb/bin/Debug/net8.0/sk/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/sl/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/sr/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/sr-Latn/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/sv/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/th-TH/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Humanizer.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/GizmosbuyWeb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GizmosbuyWeb/obj/Debug/net8.0/scopedcss/bundle/Gizmosbuy.Web.styles.css
/GizmosbuyWeb/obj/Debug/net8.0/scopedcss/projectbundle/Gizmosbuy.Web.bundle.scp.css
/GizmosbuyWeb/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets/msbuild.build.Gizmosbuy.Web.props
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Gizmosbuy.Web.props
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Gizmosbuy.Web.props
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbu.6A6E84B8.Up2Date
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.MvcApplicationPartsAssemblyInfo.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.MvcApplicationPartsAssemblyInfo.cs
/GizmosbuyWeb/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/GizmosbuyWeb/bin/Debug/net8.0/appsettings.Development.json
/GizmosbuyWeb/bin/Debug/net8.0/appsettings.json
/GizmosbuyWeb/bin/Debug/net8.0/efpt.config.json
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.deps.json
/GizmosbuyWeb/bin/Debug/net8.0/Gizmosbuy.Web.runtimeconfig.json
/GizmosbuyWeb/bin/Debug/net8.0/libman.json
*.log
*.pdb
/GizmosbuyWeb/bin/Debug/net8.0
/Gizmosbuy.BAL/bin/Release/net8.0
/Gizmosbuy.BAL/obj/Release/net8.0
/Gizmosbuy.Core/bin/Release/net8.0
/Gizmosbuy.Core/obj/Release/net8.0
/Gizmosbuy.DAL/bin/Release/net8.0
/Gizmosbuy.DAL/obj/Release/net8.0
/GizmosbuyWeb/bin/Debug/net8.0/pl
/GizmosbuyWeb/bin/Release/net8.0
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/css/custom-css
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/fonts/Gilroy/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/fonts/Nunito/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/images/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/js/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/lib/autocomplete/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/lib/bootstrap/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/lib/bootstrap-datepicker/css/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/lib/bootstrap-datepicker/js/
/GizmosbuyWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/lib/bootstrap-datepicker/locales/
/GizmosbuyWeb/obj/Release/
/GizmosbuyWeb/obj/
/GizmosbuyWeb/wwwroot/TempFiles/SalesReport_JGS0004_07_02_2026_23_38_10.pdf
/GizmosbuyWeb/wwwroot/TempFiles/SalesReport_JGS0004_07_02_2026_23_50_01.pdf
/GizmosbuyWeb/wwwroot/TempFiles/SalesReport_JGS0004_07_02_2026_23_51_55.pdf
/GizmosbuyWeb/wwwroot/TempFiles/SalesReport_JGS0004_08_02_2026_00_13_44.pdf
/GizmosbuyWeb/wwwroot/TempFiles/SalesReport_JGS0004_08_02_2026_00_16_00.pdf
/.vs/GizmosbuyWeb/CopilotIndices/17.14.1518.61961/CodeChunks.db
/.vs/GizmosbuyWeb/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
/.vs/GizmosbuyWeb/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
/.vs/GizmosbuyWeb/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
/Gizmosbuy.BAL/obj/Gizmosbuy.BAL.csproj.nuget.g.props
/Gizmosbuy.BAL/obj/Gizmosbuy.BAL.csproj.nuget.g.targets
/Gizmosbuy.BAL/obj/Gizmosbuy.BAL.csproj.nuget.g.props
/Gizmosbuy.BAL/obj/Gizmosbuy.BAL.csproj.nuget.g.targets
/Gizmosbuy.Core/obj/Gizmosbuy.Core.csproj.nuget.g.props
/Gizmosbuy.DAL/obj/Gizmosbuy.DAL.csproj.nuget.g.props
/GizmosbuyWeb/obj/Gizmosbuy.Web.csproj.nuget.g.props
/GizmosbuyWeb/obj/Gizmosbuy.Web.csproj.nuget.g.targets
*.g.props
*.g.targets
/Gizmosbuy.BAL/bin
/Gizmosbuy.BAL/obj
/Gizmosbuy.Core/bin
/Gizmosbuy.Core/obj
/Gizmosbuy.DAL/bin
/Gizmosbuy.DAL/obj
/Gizmosbuy.DAL/obj/Gizmosbuy.DAL.csproj.nuget.g.targets
/GizmosbuyWeb/bin
/.vs/GizmosbuyWeb/v18
/Gizmosbuy.DAL/obj/Gizmosbuy.DAL.csproj.nuget.g.targets
/Gizmosbuy.DAL/obj/Gizmosbuy.DAL.csproj.nuget.g.targets
