/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/GizmosbuyWeb/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.AssemblyInfo.cs
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.AssemblyInfoInputs.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.assets.cache
/Gizmosbuy.BAL/obj/Debug/net8.0/Gizmosbuy.BAL.csproj.AssemblyReference.cache
*.cache
*.vsidx
/.vs/GizmosbuyWeb/v17/.suo
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.AssemblyInfo.cs
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.AssemblyInfoInputs.cache
/Gizmosbuy.Core/obj/Debug/net8.0/Gizmosbuy.Core.assets.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.AssemblyInfo.cs
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.AssemblyInfoInputs.cache
/Gizmosbuy.DAL/obj/Debug/net8.0/Gizmosbuy.DAL.assets.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.AssemblyInfo.cs
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.AssemblyInfoInputs.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.assets.cache
/GizmosbuyWeb/obj/Debug/net8.0/Gizmosbuy.Web.csproj.AssemblyReference.cache
