<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3bc1e34f-e69d-466f-965d-00479d9a6664/resourceGroups/gizmosbuy-Group/providers/Microsoft.Web/sites/gizmos-110</ResourceId>
    <ResourceGroup>gizmosbuy-Group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gizmos-110-cthfb6eggvdpg6gg.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a88e3931-fe3c-4041-9c1e-a74528de9102</ProjectGuid>
    <PublishUrl>https://gizmos-110-cthfb6eggvdpg6gg.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName>GizUser110</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>